@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-top {
    position: absolute;
    width: 100%;
    top: -0.5px;
    z-index: -99;
}

/* 1410px */
.main-cont {
    max-width: 100%;
    height: auto;
    width: 1410px;
    height: 1000px;
    margin: 0 auto;
}

/* ------------------------------- Header ------------------------------- */
.header {
    margin-top: 30px;
    height: 40px;
}

.header__ul-cont {
    width: 480px;
    float: right;
    margin-top: 11px;
}

.header__li-links {
    display: flex;
    margin-right: 40px;
    text-decoration: none;
}

.header__ul {
    width: 500px;
    display: flex;
}

.header__ul-li {
    font-family: worksans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;


    color: #FFFFFF;
}

.header__ul-li:hover {
    font-size: 15px;
    color: #e9e9e9;
}

.header__btn {
    width: 135px;
    height: 36px;
    border: none;
    border-radius: 10px;
    background-color: #14B45C;
    margin-top: 1.5px;
    float: right;
    margin-right: 10px;

    font-family: worksans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;

    color: #FFFFFF;
}

.header__btn:hover {
    background-color: #17d86e;
    cursor: pointer;
}

/* ------------------------------- Page1 ------------------------------- */

.page1iphone {
    padding: 30px 15px;
    max-width: 100%;
    max-height: 100%;
}

.warehouse-cont {
    width: 494px;
    height: 278px;
    float: right;
    margin-right: 285px;
    margin-top: 300px;
}

.warehouse-title {
    color: #FFFFFF;

    font-family: worksans;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
}

.warehouse-text {
    margin-top: 30px;

    font-family: worksans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;


    color: #A1A4AC;
}

.warehouse-btn {
    width: 206px;
    height: 52px;
    border: none;
    border-radius: 16px;
    margin-top: 40px;

    background: #14B45C;

    font-family: worksans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.warehouse-btn:hover {
    background-color: #008a3e;
    cursor: pointer;
}

.howtowork {
    float: right;
    display: flex;
    margin: 50px 55px auto auto;
}

.howtowork:hover {
    cursor: pointer;
}

.howtowork:hover .playbtn {
    transition: .5s;
    transform: translateY(-5px);
}


.playtext {
    color: #FFFFFF;
    margin: auto 0 auto 10px;

    font-family: worksans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

/* ------------------------------- Page2 ------------------------------- */

.analytics-cont {
    margin-top: 120px;
    max-width: 1409px;
    width: 100%;
    height: 540px;
}

.analitycs-title {
    color: #1C1F28;
    text-align: center;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
}

.conts-cont {
    display: flex;
    justify-content: space-between;
}

.secured-cont {
    text-align: center;
    margin-top: 80px;
    width: 420px;
    height: 420px;
    float: left;
}

.shield-logo {
    margin-top: 79px;
}

.shield-title {
    color: #1C1F28;
    margin-top: 43px;

    font-family: worksans;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.secured-text {
    margin-top: 24px;

    font-family: worksans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #A1A4AC;
}

.detailed-cont {
    margin-top: 80px;
    width: 420px;
    height: 420px;
    text-align: center;
}

.busines-cont {
    margin-top: 80px;
    width: 420px;
    height: 420px;
    margin-right: 0;
    text-align: center;
}

/* ------------------------------- Page3 ------------------------------- */

.page3 {
    margin-top: 100px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    width: 97vw;
    height: 1225px;
    text-align: center;
}

.page3-cont {
    justify-content: space-between;
    text-align: center;
    margin: auto 0;
    display: flex;
}

.detailes1 {
    width: 420px;
    height: 584px;
    margin-top: 221px;
}

.detailes2 {
    width: 420px;
    height: 584px;
    margin-top: 221px;
}

.basket-logo {
    margin-top: 40px;
}

.basket-title {
    text-align: center;
    font-family: worksans;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #1C1F28;
}

.basket-text {
    margin-top: 41px;

    font-family: worksans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;

    color: #7A7C82;
}

.orderinformation-cont {
    width: 420px;
    height: 252px;
    text-align: center;

    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(7, 42, 68, 0.04);
    border-radius: 15px;
}

.orderinformation-cont1 {
    width: 420px;
    height: 252px;
    margin-top: 80px;
    text-align: center;

    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(7, 42, 68, 0.04);
    border-radius: 15px;
}

.orderinformation-cont2 {
    width: 420px;
    height: 252px;
    text-align: center;

    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(7, 42, 68, 0.04);
    border-radius: 15px;
}

.orderinformation-cont3 {
    width: 420px;
    height: 252px;
    text-align: center;
    margin-top: 80px;

    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(7, 42, 68, 0.04);
    border-radius: 15px;
}

.iphonex {
    width: 366.59px;
    height: 754.65px;
    margin-top: 135px;
}

.page3-btn-cont {
    max-width: 1430px;
    width: 100%;
    height: 50px;
    margin-top: 1100px;
}

.page3-btn {
    /* position: absolute;
    margin-top: 920px;
    margin-left: 596px; */
    width: 206px;
    height: 52px;
    background: #14B45C;
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    border: none;
    border-radius: 16px;
    color: #FFFFFF;

    font-family: worksans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.page3-btn:hover {
    background-color: #08d665;
}

.mask {
    position: absolute;
    z-index: -98;
    margin-top: 1920px;
    max-width: 1920px;
    width: 100vw;
}

/* ------------------------------- Page4 ------------------------------- */

.page4 {
    max-width: 1410px;
    width: 98vw;
    height: 606px;
    margin-top: 270px;
    text-align: center;
    align-items: center;
}

.page4-title-cont {
    max-width: 1410px;
    width: 98vw;
}

.page4-title {
    font-family: worksans;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    margin: 0 auto;
    height: auto;

    color: #1C1F28;
}

.page4-text {
    margin-top: 20px;
    color: #7A7C82;

    font-family: worksans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
}

.cards-cont {
    max-width: 1410px;
    width: 98vw;
    height: 331px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.startups {
    width: 420px;
    height: 330px;
}

.retailers {
    width: 420px;
    height: 330px;
}

.individuals {
    width: 420px;
    height: 330px;
}

.cards-title {
    margin-top: 30px;
    color: #1C1F28;

    font-family: worksans;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.cards-text {
    color: #A1A4AC;
    width: 300px;
    margin: 10px auto 0 auto;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
}

.page4-btn {
    width: 206px;
    height: 52px;
    border-radius: 16px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    color: #1C1F28;
    background: #FFFFFF;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.page4-btn:hover {
    background-color: #14B45C;
    cursor: pointer;
}

/* ------------------------------------- Page5 --------------------------- */

.page5 {
    max-width: 900px;
    width: 100%;
    height: 276px;
    margin: 280px auto 0 auto;
}

.page5-title {
    font-family: worksans;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    text-align: center;

    color: #1C1F28;
}

.page5-text {
    margin-top: 55px;
    color: #A1A4AC;
    size: 24px;

    font-family: worksans;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.profiles-cont {
    width: 304px;
    height: 100px;
    margin: 23px auto 0 auto;
    border-radius: 5px;
    display: flex;
    text-align: center;
    z-index: 1;
}

.stars1 {
    width: 180px;
}

.profile-name {
    margin: 20px auto 0 31px;

    font-family: worksans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.center .stars {
    height: 20px;
    width: 20px;
    text-align: center;
}

.stars input {
    display: none;
}

.stars label {
    float: right;
    font-size: 20px;
    color: #A1A4AC;
    margin: 0 5px;
    text-shadow: 1px 1px #bbb;
}

.stars label:before {
    content: '★';
}

.stars input:checked~label {
    color: #FEB062;
    text-shadow: 1px 1px #c60;
}

.stars:not(:checked)>label:hover,
.stars:not(:checked)>label:hover~label {
    color: #FEB062;
}

.stars input:checked>label:hover,
.stars input:checked>label:hover~label {
    color: #FEB062;
    text-shadow: 1px 1px #FEB062;
}

.stars .result:before {
    font-size: 10px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: none;
}

.stars input:checked~.result:before {
    display: block;
}

/* ------------------------------ Downloads Cont ------------------------------ */

.downloads-cont {
    width: 1140px;
    height: 340px;
    margin: 280px auto 0 auto;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 98%, rgba(20, 180, 92, 1) 99%);
    border: 0.5px solid #FFFFFF;
}

.download-buttons {
    width: 520px;
    height: 156px;
    margin: 92px auto;
    text-align: center;
}

.downloads-title {
    color: #1C1F28;

    font-family: worksans;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.downloads-text {
    margin-top: 20px;
    color: #A1A4AC;

    font-family: worksans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.playstore {
    margin-top: 30px;
    margin-right: 15px;
}

.appstore {
    margin-top: 30px;
}

.left {
    position: absolute;
    top: 4230px;
}

.left:hover {
    height: 230px;
    width: 230px;
}

.right {
    position: absolute;
    top: 4230px;
    right: 0;
}

.right:hover {
    height: 230px;
    width: 230px;
}

/* ------------------------------------ lastpage ------------------------------------ */

.last-cont {
    text-align: center;
}

.last-bg {
    position: absolute;
    z-index: -88;
    top: 4857px;
    max-width: 1920px;
    width: 100vw;
}

.lastpage-logo {
    margin-top: 100px;
    width: 147px;
    height: 40px;
}

.last-header {
    width: 1261px;
    height: 226px;
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.last-header-features {
    width: 84px;
    height: 226px;
    text-align: left;
}

.last-header-title {
    font-family: worksans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

.last-header-text {
    color: #A1A4AC;
    opacity: 0.9;
    margin-top: 22px;
    mix-blend-mode: normal;

    font-family: worksans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.last-header-text:hover {
    cursor: pointer;
    color: #b7bac2;
}

.last-header-benefits {
    width: 109px;
    height: 186px;
    text-align: left;
}

.last-header-downloads {
    text-align: left;
    width: 177px;
    height: 146px;
}

.last-header-recources {
    text-align: left;
    width: 96px;
    height: 186px;
}

.social-media {
    width: 1410px;
    height: 40px;
    margin-top: 70px;
}

.by {
    margin-top: 3px;
    color: #FFFFFF;
    width: 200px;

    font-family: worksans;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 14px;
}

.by-link {
    text-decoration: none;
}

.designed-created {
    width: 200px;
    float: left;
}


.social-media-cont {
    margin-top: 9px;
    width: 140px;
    height: 20px;
    float: right;
}

.fb {
    margin-right: 16px;
}

.twit {
    margin-right: 16px;
}

.yt {
    margin-right: 16px;
}

/* ---------------------- ovals ----------------------- */

.green-oval {
    position: absolute;
    margin-top: 3000px;
}

.black-oval {
    position: absolute;
    margin-top: 3700px;
    right: 0;
}

/* ------------------------ Burger-menu --------------------- */

.header-burger-menu {
    width: 42px;
    float: right;
    margin-right: 5px;
    position: relative;
    top: -4px;
    display: none;
}

.header-burger-menu:hover {
    cursor: pointer;
}

.header-burger-menu:hover .burger-hover {
    display: block;
}

.burger-hover {
    height: 105px;
    width: 90px;
    display: none;
    position: absolute;
    background-color: #FFFFFF;
}

.line1 {
    height: 5px;
    width: 40px;
    background-color: #FFFFFF;
}

.line2 {
    height: 5px;
    width: 40px;
    background-color: #FFFFFF;
    margin-top: 3px;
}

.line3 {
    margin-top: 3px;
    height: 5px;
    width: 40px;
    background-color: #FFFFFF;
}

.burger-menu-items {
    margin-bottom: 5px;
    color: black;

    font-family: worksans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.burger-menu-items:hover {
    background-color: black;
    color: #FFFFFF;
}


/* ------------------------ Responsive --------------------- */

@media only screen and (max-width: 1655px) {

    .page1iphone {
        height: 700px;
        width: 440px;
    }

    .warehouse-cont {
        margin-top: 220px;
    }

}

@media only screen and (max-width: 1430px) {

    .page1iphone {
        height: 600px;
        width: 410px;
    }

    .warehouse-cont {
        margin-top: 180px;
        width: 410px;
        height: 200px;
    }

    .warehouse-title {
        font-weight: 200;
        font-size: 20px;
    }

    .warehouse-text {
        font-size: 13px;
        margin-top: 20px;
    }

    .howtowork {
        height: 30px;
        width: 200px;
        margin-right: 0;
        margin-top: 36px;
    }

    .playbtn {
        width: 25px;
        height: 25px;
        margin-top: 2px;
    }

    .warehouse-btn {
        width: 160px;
        height: 40px;
        margin-top: 30px;
    }

    .green-oval {
        width: 60px;
        height: 400px;
        margin-top: 2800px;
    }

}

@media only screen and (max-width: 1360px) {

    .conts-cont {
        height: auto;
    }

    .secured-cont {
        margin: 0 20px;
    }

    .detailed-cont {
        margin: 0 20px;
    }

    .busines-cont {
        margin: 0 20px;
    }

    .analytics-cont {
        margin-top: 80px;
    }

}

@media only screen and (max-width: 1290px) {

    .startups {
        width: 390px;
    }

    .retailers {
        width: 390px;
    }

    .individuals {
        width: 390px;
    }

    .cards-img {
        width: 390px;
    }

}

@media only screen and (max-width: 1250px) {

    .page1iphone {
        height: 500px;
        width: 310px;
    }

    .warehouse-cont {
        margin-top: 120px;
        margin-right: 70px;
    }

    .analytics-cont {
        margin-top: 110px;
    }

    .detailes1 {
        width: 380px;
    }

    .detailes2 {
        width: 380px;
    }

    .orderinformation-cont {
        width: 380px;
    }

    .orderinformation-cont1 {
        width: 380px;
    }

    .orderinformation-cont2 {
        width: 380px;
    }

    .orderinformation-cont3 {
        width: 380px;
    }

    .green-oval {
        margin-top: 2700px;
    }

}

@media only screen and (max-width: 1200px) {

    .startups {
        width: 370px;
    }

    .retailers {
        width: 370px;
    }

    .individuals {
        width: 370px;
    }

    .cards-img {
        width: 370px;
    }

}

@media only screen and (max-width: 1160px) {

    .detailes1 {
        width: 350px;
    }

    .detailes2 {
        width: 350px;
    }

    .orderinformation-cont {
        width: 350px;
    }

    .orderinformation-cont1 {
        width: 350px;
    }

    .orderinformation-cont2 {
        width: 350px;
    }

    .orderinformation-cont3 {
        width: 350px;
    }

}

@media only screen and (max-width: 1150px) {

    .startups {
        width: 350px;
    }

    .retailers {
        width: 350px;
    }

    .individuals {
        width: 350px;
    }

    .cards-img {
        width: 350px;
    }

    .green-oval {
        margin-top: 2670px;
    }

}

@media only screen and (max-width: 1101px) {

    .detailes1 {
        width: 320px;
    }

    .detailes2 {
        width: 320px;
    }

    .orderinformation-cont {
        width: 320px;
    }

    .orderinformation-cont1 {
        width: 320px;
    }

    .orderinformation-cont2 {
        width: 320px;
    }

    .orderinformation-cont3 {
        width: 320px;
    }

}



@media only screen and (max-width: 1150px) {

    .analytics-cont {
        margin-top: 80px;
    }

}

@media only screen and (max-width: 1090px) {

    .startups {
        width: 330px;
    }

    .retailers {
        width: 330px;
    }

    .individuals {
        width: 330px;
    }

    .cards-img {
        width: 330px;
    }

}

@media only screen and (max-width: 1075px) {

    .page1iphone {
        display: none;
    }

    .warehouse-cont {
        margin-right: 100px;
        width: 80vw;
        margin-top: 100px;
    }

    /* 1410px */
    .analytics-cont {
        margin-top: 600px;
    }

    .green-oval {
        margin-top: 2600px;
    }

}

@media only screen and (max-width: 1040px) {

    .detailes1 {
        width: 300px;
    }

    .detailes2 {
        width: 300px;
    }

    .orderinformation-cont {
        width: 300px;
    }

    .orderinformation-cont1 {
        width: 300px;
    }

    .orderinformation-cont2 {
        width: 300px;
    }

    .orderinformation-cont3 {
        width: 300px;
    }

    .basket-text {
        margin-top: 25px;
        line-height: 20px;
    }

}

@media only screen and (max-width: 1025px) {

    .startups {
        width: 300px;
    }

    .retailers {
        width: 300px;
    }

    .individuals {
        width: 300px;
    }

    .cards-img {
        width: 300px;
    }

    .cards-title {
        font-size: 22px;
    }

    .cards-text {
        font-size: 15px;
        line-height: 15px;
    }

}

@media only screen and (max-width: 1000px) {

    .header__btn {
        margin-top: 4px;
        width: 100px;
        height: 30px;
    }

    .analytics-cont {
        margin-top: 530px;
    }

    .page3 {
        margin-top: -100px;
    }

    .detailes1 {
        width: 280px;
    }

    .detailes2 {
        width: 280px;
    }

    .orderinformation-cont {
        width: 280px;
    }

    .orderinformation-cont1 {
        width: 280px;
    }

    .orderinformation-cont2 {
        width: 280px;
    }

    .orderinformation-cont3 {
        width: 280px;
    }

    .page4 {
        margin-top: 340px;
    }

    .green-oval {
        margin-top: 2430px;
    }

}

@media only screen and (max-width: 960px) {

    .detailes1 {
        width: 250px;
    }

    .detailes2 {
        width: 250px;
    }

    .orderinformation-cont {
        width: 250px;
    }

    .orderinformation-cont1 {
        width: 250px;
    }

    .orderinformation-cont2 {
        width: 250px;
    }

    .orderinformation-cont3 {
        width: 250px;
    }

    .basket-text {
        font-size: 15px;
    }

    .basket-title {
        font-size: 20px;
    }

    .basket-logo {
        margin-top: 20px;
    }

}

@media only screen and (max-width: 930px) {

    .startups {
        width: 270px;
    }

    .retailers {
        width: 270px;
        text-align: center;
    }

    .individuals {
        width: 270px;
    }

    .cards-img {
        width: 270px;
    }

    .cards-title {
        font-size: 23px;
    }

    .cards-text {
        width: auto;
        font-size: 15px;
        line-height: 20px;
    }

}

@media only screen and (max-width: 895px) {

    .detailes1 {
        width: 230px;
    }

    .detailes2 {
        width: 230px;
    }

    .orderinformation-cont {
        width: 230px;
        text-align: center;
    }

    .orderinformation-cont1 {
        width: 230px;
        text-align: center;
    }

    .orderinformation-cont2 {
        width: 230px;
    }

    .orderinformation-cont3 {
        width: 230px;
    }

    .page4 {
        margin-top: 280px;
    }

    .green-oval {
        margin-top: 2370px;
    }

}

@media only screen and (max-width: 860px) {

    .iphonex {
        margin-top: 165px;
        width: 300px;
        height: 700px;
    }

}

@media only screen and (max-width: 850px) {

    .header {
        margin-top: 2px;
        height: 35px;
    }

    .header__ul {
        /* display: none; */
        position: absolute;
        width: auto;
        top: -100px;
    }

    .logo {
        margin-top: 1px;
        margin-left: 10px;
        width: 120px;
        height: 35px;
    }

    .header__btn {
        margin-top: 2px;
    }

    .warehouse-cont {
        margin-top: 70px;
    }

    .header__ul-cont {
        width: auto;
    }

    .header-burger-menu {
        display: block;
    }

    .analytics-cont {
        margin-top: 450px;
    }

    .startups {
        width: 250px;
    }

    .retailers {
        width: 250px;
        text-align: center;
    }

    .individuals {
        width: 250px;
    }

    .cards-img {
        width: 250px;
    }

    .cards-title {
        font-size: 21px;
    }

    .cards-text {
        width: auto;
        font-size: 14px;
        line-height: 17px;
    }

    .page4 {
        margin-top: 340px;
    }

    .green-oval {
        margin-top: 2430px;
        height: 300px;
        width: 40px;
    }
}

@media only screen and (max-width: 790px) {

    .page3-cont {
        display: grid;
        justify-content: center;
    }

    .detailes1 {
        display: flex;
        width: auto;
        height: auto;
        margin: 0 auto;
        margin-bottom: -25px;
    }

    .detailes2 {
        display: flex;
        width: auto;
        height: auto;
        margin-top: -35px;
    }

    .orderinformation-cont {
        height: 230px;
        margin-right: 10px;
    }

    .orderinformation-cont1 {
        height: 230px;
        margin-top: 0;
    }

    .orderinformation-cont2 {
        height: 200px;
        margin-right: 10px;
    }

    .orderinformation-cont3 {
        height: 200px;
        margin-top: 0;
    }

    .iphonex {
        margin: 0 auto;
    }

    .page3-btn {
        margin-top: 10px;
    }

    .startups {
        width: 230px;
    }

    .retailers {
        width: 230px;
        text-align: center;
    }

    .individuals {
        width: 230px;
    }

    .cards-img {
        width: 230px;
    }

    .cards-title {
        font-size: 21px;
    }

    .cards-text {
        width: auto;
        font-size: 14px;
        line-height: 17px;
    }
}

@media only screen and (max-width: 730px) {

    .secured-cont {
        margin: 0 10px;
    }

    .detailed-cont {
        margin: 0 10px;
    }

    .busines-cont {
        margin: 0 10px;
    }

    .analytics-cont {
        margin-top: 430px;
    }

    .startups {
        width: 200px;
    }

    .retailers {
        width: 200px;
        text-align: center;
    }

    .individuals {
        width: 200px;
    }

    .cards-img {
        width: 200px;
    }

    .cards-cont {
        height: auto;
    }
    
    .page4 {
        margin-top: 280px;
    }

    .green-oval {
        margin-top: 2340px;
    }

}

@media only screen and (max-width: 680px) {

    .howtowork {
        margin-top: 20px;
    }

    .playbtn {
        height: 20px;
        width: 20px;
        margin-top: 6px;
    }

    .playtext {
        width: 150px;
        height: 15px;
        font-size: 14px;
        margin-left: 6px;
    }

    .warehouse-cont {
        margin-top: 15px;
        margin-right: 70px;
    }

    .warehouse-btn {
        width: 140px;
        height: 30px;
        font-size: 14px;
        margin-top: 22px;
    }

    .analytics-cont {
        margin-top: 380px;
    }
    
    .green-oval {
        margin-top: 2290px;
    }

}

@media only screen and (max-width: 635px) {

    .cards-cont {
        flex-wrap: wrap;
        justify-content: center;
    }

    .startups {
        width: 280px;
        height: auto;
    }

    .retailers {
        width: 280px;
        height: auto;
        margin: 0 20px;
    }

    .individuals {
        margin-top: 10px;
        height: auto;
        width: 280px;
    }

    .cards-img {
        width: 280px;
    }

    .green-oval {
        margin-top: 2300px;
    }

    .page4 {
        height: auto;
    }

}

@media only screen and (max-width: 620px) {

    .retailers {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 600px) {

    .shield-logo {
        margin-top: 10px;
    }

    .shield-title {
        margin-top: 15px;
    }

    .secured-text {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 585px) {

    .analytics-cont {
        margin-top: 320px;
    }

    .conts-cont {
        display: grid;
        justify-content: center;
    }

    .secured-cont {
        height: 220px;
    }

    .detailed-cont {
        margin-top: 10px;
        height: 220px;
    }

    .busines-cont {
        margin-top: 10px;
        height: 220px;
    }

    .page3 {
        margin-top: 200px;
    }

    .iphonex {
        height: 590px;
    }

    .page4-title {
        font-size: 30px;
    }

    .page4-text {
        font-size: 15px;
        line-height: 20px;
    }

    .page4 {
        margin-top: 80px;
    }

}

@media only screen and (max-width: 530px) {

    .analytics-cont {
        margin-top: 270px;
    }

    .green-oval {
        margin-top: 2250px;
    }

}

@media only screen and (max-width: 500px) {

    .warehouse-cont {
        margin-top: 5px;
        margin-right: 70px;
    }

    .warehouse-title {
        font-size: 17px;
        height: 30px;
        line-height: 30px;
    }

    .warehouse-text {
        margin-top: 5px;
    }

    .warehouse-btn {
        margin-top: 10px;
    }

    .howtowork {
        margin-top: 10px;
    }

    .analytics-cont {
        margin-top: 270px;
    }

    .orderinformation-cont {
        width: 210px;
    }

    .orderinformation-cont1 {
        width: 210px;
    }

    .orderinformation-cont2 {
        width: 210px;
    }

    .orderinformation-cont3 {
        width: 210px;
    }

    .basket-logo {
        margin-top: 5px;
    }

    .basket-text {
        margin-top: 5px;
    }

}

@media only screen and (max-width: 490px) {

    .page4-title {
        font-size: 25px;
    }

    .page4-text {
        font-size: 13px;
        line-height: 15px;
    }

}

@media only screen and (max-width: 465px) {

    .orderinformation-cont {
        width: 190px;
    }

    .orderinformation-cont1 {
        width: 190px;
    }

    .orderinformation-cont2 {
        width: 190px;
    }

    .orderinformation-cont3 {
        width: 190px;
    }

    .basket-title {
        font-size: 18px;
        line-height: 18px;
    }

}

@media only screen and (max-width: 460px) {
    .warehouse-cont {
        margin-top: 2px;
        margin-right: 60px;
    }

    .analytics-cont {
        margin-top: 230px;
    }

    .secured-cont {
        width: 380px;
    }

    .detailed-cont {
        width: 380px;
    }

    .busines-cont {
        width: 380px;
    }
    
    .green-oval {
        margin-top: 2220px;
    }
}

@media only screen and (max-width: 440px) {

    .warehouse-text {
        margin-top: 0;
    }

    .playtext {
        font-size: 12px;
        width: 120px;
        height: 15px;
        line-height: 10px;
        margin-top: 12px;
    }

    .conts-cont {
        margin: 0 5px;
    }

}

@media only screen and (max-width: 430px) {

    .warehouse-btn {
        width: 120px;
        height: 25px;
        font-size: 12px;
    }

    .howtowork {
        margin-top: 7px;
    }

    .analytics-cont {
        margin-top: 210px;
    }

    .secured-cont {
        width: 350px;
    }

    .detailed-cont {
        width: 350px;
    }

    .busines-cont {
        width: 350px;
    }

}

@media only screen and (max-width: 420px) {

    .detailes1 {
        display: grid;
        width: 261px;
    }

    .detailes2 {
        margin: -40px auto 0 auto;
        display: grid;
        height: auto;
        width: 261px;
    }

    .orderinformation-cont {
        width: 260px;
        height: 135px;
    }

    .orderinformation-cont1 {
        width: 260px;
        height: 135px;
        margin-top: 5px;
    }

    .orderinformation-cont2 {
        width: 260px;
        height: 135px;
    }

    .orderinformation-cont3 {
        width: 260px;
        height: 135px;
        margin-top: 5px;
    }

    .page4-title {
        font-size: 23px;
    }

    .page4-text {
        font-size: 12px;
        line-height: 15px;
    }



}

@media only screen and (max-width: 410px) {

    .warehouse-title {
        font-size: 16px;
    }

    .warehouse-text {
        font-size: 14px;
        line-height: 22px;
    }

    .playtext {
        margin-left: 1px;
    }

    .howtowork {
        margin-right: auto;
        margin-left: auto;
        width: 140px;
        height: 20px;
    }

}

@media only screen and (max-width: 406px) {

    .analitycs-title {
        font-size: 30px;
    }

}

@media only screen and (max-width: 400px) {

    .secured-cont {
        width: 335px;
    }

    .detailed-cont {
        width: 335px;
    }

    .busines-cont {
        width: 335px;
    }

    .page4-title {
        font-size: 21px;
        line-height: 25px;
    }

    .page4-text {
        font-size: 10px;
        line-height: 20px;
    }

    .green-oval {
        margin-top: 2160px;
    }

}

@media only screen and (max-width: 390px) {

    .warehouse-title {
        font-size: 15px;
    }

    .warehouse-text {
        font-size: 12px;
        line-height: 18px;
    }

    .warehouse-cont {
        margin-right: 50px;
    }

    .analytics-cont {
        margin-top: 180px;
    }

    .analitycs-title {
        font-size: 27px;
        line-height: 30px;
    }

    .green-oval {
        margin-top: 2000px;
    }

}

@media only screen and (max-width: 380px) {

    .shield-logo {
        width: 60px;
        height: 70px;
    }

    .shield-title {
        margin-top: 2px;
    }

    .secured-cont {
        width: 320px;
        height: 200px;
    }

    .detailed-cont {
        width: 320px;
        height: 200px;
    }

    .busines-cont {
        width: 320px;
        height: 200px;
    }

}

@media only screen and (max-width: 365px) {

    .secured-cont {
        width: 310px;
    }

    .detailed-cont {
        width: 310px;
    }

    .busines-cont {
        width: 310px;
    }

}

@media only screen and (max-width: 357px) {

    .warehouse-title {
        font-size: 14px;
    }

    .warehouse-text {
        font-size: 11px;
        line-height: 13px;
    }

    .warehouse-cont {
        margin-right: 40px;
    }

    .analytics-cont {
        margin-top: 200px;
    }

}

@media only screen and (max-width: 350px) {

    .shield-title {
        font-size: 20px;
        line-height: 20px;
    }

    .secured-text {
        font-size: 15px;
    }

    .secured-cont {
        width: 300px;
    }

    .detailed-cont {
        width: 300px;
    }

    .busines-cont {
        width: 300px;
    }

}

@media only screen and (max-width: 340px) {

    .analitycs-title {
        font-size: 23px;
    }

    .secured-cont {
        width: 290px;
    }

    .detailed-cont {
        width: 290px;
    }

    .busines-cont {
        width: 290px;
    }

    .page4-title {
        font-size: 20px;
        line-height: 25px;
    }

    .page4-text {
        font-size: 9px;
        line-height: 20px;
    }

}

@media only screen and (max-width: 332px) {

    .warehouse-title {
        font-size: 13px;
    }

    .warehouse-text {
        font-size: 10px;
        line-height: 13px;
    }

    .warehouse-cont {
        margin-right: 45px;
    }

    .analytics-cont {
        margin-top: 20px;
    }

    .secured-cont {
        width: 280px;
    }

    .detailed-cont {
        width: 280px;
    }

    .busines-cont {
        width: 280px;
    }

    .page3 {
        margin-top: 340px;
    }

}

@media only screen and (max-width: 327px) {

    .warehouse-cont {
        margin-right: 40px;
    }

    .warehouse-btn {
        width: 110px;
        height: 25px;
        font-size: 11px;
    }

    .playtext {
        font-size: 11px;
    }

}